
.header-container{
    background-image: url('../../../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.769);
    background-blend-mode: color;
}