.category-h1{
    color: white;
     font-size: 70px
}
@media screen and (max-width: 412px){
    .category-h1{
         font-size: 40px
    }
}
@media screen and (max-width: 300px){
    .category-h1{
         font-size: 40px
    }
}
@media screen and (max-width: 412px){
    .category-h1{
         font-size: 45px
    }
}
@media screen and (max-width: 780px){
    .category-h1{
         font-size: 50px
    }
}